.chess-board {
	border: 1px solid black;
	font-size: 1rem;
}

	.chess-board th {
		text-align: center;
		font-size: 0.5em;
	}

	.chess-board tbody th {
		padding: 0 0.5em;
		font-weight: normal;
		border-right: 1px solid black;
	}

	.chess-board tr {
	}

		.chess-board td, .chess-board th {
			border-bottom: 0.0625em solid black;
		}

		.chess-board thead th:first-child, .chess-board tbody th {
			border-bottom: none;
		}

		.chess-board tr td {
			border-right: 0.0625em solid black;
			width: 4em;
			height: 4em;
			text-align: center;
		}
		
		.chess-board tr td:last-child {
			border-right: none;
		}

		.chess-board tr:nth-child(2n-1) td:nth-child(2n-1) {
			background-color: grey;
		}

		.chess-board tr:nth-child(2n) td:nth-child(2n) {
			background-color: grey;
		}

	.chess-board img {
		width: 3.5em;
		height: 3.5em;
	}
