@page "/chessboard"

<h1>Chess</h1>

<table class="chess-board">
	<thead>
		<tr>
			<th></th>
			@for (int i = 1; i <= columns; i++)
			{
				<th>
					@Convert.ToChar(i + 65 - 1)
				</th>
			}
		</tr>
	</thead>
	<tbody>
		@for (int i = 1; i <= rows; i++)
		{
		<tr>
			<th>@i</th>


			@for (int j = 0; j < columns; j++)
			{
				@if (i == 2 || i == 7)
				{
					<td><Pawn IsWhite="@(i == 7)"></Pawn></td>
				}
				else
				{
					<td></td>
				}
			}
		</tr>
		}
	</tbody>
</table>

@code {
	int columns = 8;
	int rows = 8;
}
